<img id="fondo" src="../imagenes/fondo_home2.jpg" alt="">
<div id="principal">
    <header id="header">
        <div>
            <img id="logo" src="imagenes/logo_preview_rev_1.png" alt="logo">
            <h1 id="title">Bank Saint Patrick</h1>
        </div>
        <nav id="menu">
            <ul>
                <li>
                    <a href="/transacciones">
                        Mis transacciones
                    </a>
                </li>
                <li>
                    <a href="/auth/logout">
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div>
        <h2>Saldo</h2>
        <p>${{user.saldo}}</p>
    </div>
        
    <div>
        <h3>Mis tarjetas</h3>
        <ol>
            {{#each user.card_number}}
            <li>{{this}}</li>
            {{/each}}
        </ol>
    </div>
    <aside id="cotizaciones"></aside>
</div>

<script src="js/home.js"></script>