<img id="fondo" src="imagenes/fondoBanco.jpeg" alt="">
<div id="principal">
    <header id="header">
        <img id="logo" src="imagenes/logo_preview_rev_1.png" alt="logo">
        <h1 id="title">Bank Saint Patrick</h1>
    </header>

    <div id="formContent">
        <form action="" id="loginForm">
            <label for="user"> Usuario</label>
                <input id="card_number" class="input" type="text" name="user">
            
            <label for="pin"> Pin</label>
                <input id="pin" class="input" type="password" name="pin">
            
            <button id="submitBtn" class="submit" type="submit">Login</button>
            <p class="enlaces">¿No tienes cuenta? <a href="/signup">Registrate</a></p>
        </form>
    </div>
</div>

<script src="js/login.js"></script>