<div>
    <form action="" id="orderForm">
        <label for=""> Mail: 
            <input type="email" name="email">
        </label>
        <p></p>
        <label for=""> Destinatario: 
            <input type="text" name="destino">
        </label>
        <p></p>
        <label for=""> Monto: 
            <input type="number" name="monto">
        </label>
        <p></p>
        <button type="submit">Enviar</button>
    </form>
    <a href="/transacciones">
        <button>Cancelar</button>
    </a>
</div>







<script src="js/nuevaOrden.js"></script>