<img src="../imagenes/fondo_nuevaOrden.jpg" alt="" id="fondo">
<div id="principal">
    <h2>Nueva Operación</h2>

    <div id="formContent">
        <form action="" id="orderForm">
            
            <label for="destino"> Destinatario: 
                <input type="text" class="input" name="destino">
            </label>
            <p></p>
            <label for="monto"> Monto: 
                <input type="number" class="input" name="monto">
            </label>
            <p></p>
            
            {{!-- <div id="operations">
                <button class="button"><a href="/transacciones">Cancelar</a></button>

            </div> --}}
                <button type="submit" >Enviar</button>
        </form>
    </div>
</div>







<script src="js/nuevaOrden.js"></script>