<img id="fondo" src="imagenes/fondoBanco.jpeg" alt="">
<div id="principal">
    <header id="header">
        <img id="logo" src="imagenes/logo_preview_rev_1.png" alt="logo">
        <h1 id="title">Bank Saint Patrick</h1>
    </header>

    <div id="formContent">
        <form action="" id="signupForm">
            <label for="user"> Usuario</label>
                <input id="user" class="input" type="text" name="user">
            
            <label for="pin"> Pin</label>
                <input id="pin" class="input" type="password" name="pin">
            
            <label for="email"> Email</label>
                <input id="email" class="input" type="email" name="email">

            <button id="submitBtn" class="submit" type="submit">Crear cuenta</button>
            
        </form>
    </div>
</div>

<script src="js/signup.js"></script>