<img src="../imagenes/fondo_transacciones2.png" alt="transacciones" id="fondo">
<div id="principal">
    <h2>Mis transacciones</h2>
    
    <table>
        <tr>
            <th>Fecha</th>
            <th>Destino</th>
            <th>Monto</th>
        </tr>
        {{#each user.transacciones}}
        <tr>
            <td>{{date}}</td>
            <td>{{destino}}</td>
            <td>{{monto}}</td>
        </tr>
        {{/each}}
    </table>
    <div id="operations">
        <a href="/nuevaOrden">
            <button id="newOrder">Nueva transacción</button>
        </a>
        <a href="/">
            <button >Ver saldo</button>
        </a>
    </div>
</div>

