*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

#fondo{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    opacity: 0.5;
}

#principal{
    position: relative;
    z-index: 2;
    /* height: 100%;*/
    width: max-content; 
    
    background: linear-gradient(to bottom right, rgba(5, 142, 5, 0.5), rgba(233, 233, 138, 0.5));;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
    top: 2%
}

table{
    border-spacing: 20px;
}

td{
    margin: 0 12%;
    text-align: center;
    
}


#operations{
    display: flex;
    width: max-content;
    gap: 5px;
    margin-bottom: 2%;
}